*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 5rem;
    color: #F363FF;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

img{
    width: 50rem;
}
